/***********************************/
.box{
    padding: 0 8px;
    border-bottom: 1px solid gray;
}
.box{
    border-top: 1px solid gray;
}
.table{
    display: flex;
    border: 1px solid #000;
}

li {
    list-style-type: none; /* Убираем маркеры */
    border: 1px solid #000;
    text-align:  center;
    padding: 4px 10px;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin: 0;
}
/***********************************/