*{
    box-sizing: border-box;
    border: 1px solid green
}
body{
    font-family: sans-serif;
}
.table{
/*            border: 1px solid red;*/
}
.row{
    width: 100%;
/*            border: 1px solid green;*/
    display: flex;
}
.cell{
    width: 190px;
    aspect-ratio: 4/1;
    background-color: lightgray;
    margin: 4px auto;

    /* center center */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    aspect-ratio: 1/1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon1{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.icon1:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    z-index: -1;
    background: linear-gradient(purple, white, purple, white, purple, white, purple, white, purple, white, purple);
    background-position: 0 0;
    animation: background 2s linear infinite normal;
    -webkit-transform: rotate(30deg);
    transform: rotate(-10deg);
}
@keyframes background {
    100% {
    background-position: 0 -190px;
}