*{
    /* border & padding входят в расчёт размера */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* scroll bar */
::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #18191d}
::-webkit-scrollbar-thumb {background: #3b4146}
::-webkit-scrollbar-thumb:hover {background: #474e54}