.noMark{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body{
    color: #FFF;
    padding: 0 10px;
    font-family: cursive;
    background-color: #343434;
}
h2{
    color:#1ABC9C
}
.wrapper{
    margin: auto;
    max-width: 900px;
}

.box{
    margin-bottom: 10px;
}

.github{
    color: aqua;
    margin: 100px 0;
    padding: 10px;
    border-radius: 6px;
    background: #2C2C2C;
    text-decoration: none;
    font-family: sans-serif;
}
